LAZ_API_URL=https://lazdigital.my.id/api/blast-agen
BLAST_AGEN_TOKEN=isi_token_baru_yang_sama_dengan_Vercel
BLAST_AGEN_NAMA=gateway-botkeep
BLAST_PERANGKAT_ID=isi_id_perangkat
BLAST_POLL_MS=3000
BLAST_SESI=/data/sessions
